<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> css}}

<style>
    .col-md-6{
        width: 0%;
    }
    #dtTbl_pop{
        width: 100% !important;
    }

    td, th {
        text-align: center;
        padding: 8px;
    }
</style>
<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">CLIENT ORDER DETAILS</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">&nbsp;</div>
                {{!-- tab --}}
                <div class="row">
                    <div class="row">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_details" data-toggle="tab" id="btn_tab_details">DETAILS</a>
                                    </li>
                                    <li class="">
                                        <a href="#tab_order" data-toggle="tab" id="btn_tab_order">ORDER</a>
                                    </li>
                                    <li>
                                        <a href="#tab_po" data-toggle="tab" id="btn_tab_po">PO</a>
                                    </li>
                                    <li>
                                        <a href="#tab_invoicing" data-toggle="tab" id="btn_tab_invoicing">INVOICE</a>
                                    </li>
                                </ul>
                                <div class="tab-content col-md">
                                    <div class="col-sm pull-right">
                                        <a href="/client-order" type="button" class="btn btn-outline btn-primary cancel" id="btn_cancel" style="float: right; margin-top: -54px;">
                                            <i class="fa fa-times"></i> Cancel
                                        </a>
                                    </div>
                                    <div class="tab-pane active" id="tab_details"><h4>DETAILS</h4>
                                        <div class="row">
                                            <form id="form_">
                                                <div class="col-md pull-right">&nbsp;</div>
                                                <div class="col-sm pull-right" style="position: relative; top: -57px; left: -7px">
                                                    <button type="submit" class="btn btn-outline btn-primary" id="btn_save"><i class="fa fa-save"></i> Save</button>
                                                    <div class="col-md pull-right">&nbsp;</div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4 mb-3">
                                                        <label for="co_order_id">Order Id#</label>
                                                        <input type="text" class="form-control" name="co_order_id" placeholder="Order Id" value="" autocomplete="off" required>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label for="co_order_date">Order Date</label>
                                                        <input type="date" class="form-control" id="co_order_date" name="co_order_date" placeholder="Order Date" autocomplete="off" required>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label for="co_delivery_date">Delivery Date</label>
                                                        <input type="date" class="form-control" id="co_delivery_date" name="co_delivery_date" placeholder="Delivery Date" autocomplete="off" required>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group row">&nbsp;</div>
                                                <div class="form-group">
                                                    <div class="col-md-4 mb-3">
                                                        <label for="co_client_guid">Client</label>
                                                        <select class="form-control selectpicker" id="co_client_guid" name="co_client_guid" data-live-search="true">
                                                            {{!-- <option value="-">-</option> --}}
                                                            {{#each __data_client}}
                                                                <option value={{client_guid}}>{{client_name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="co_status">Status</label>
                                                        <select class="form-control selectpicker" id="co_status" name="co_status" data-live-search="true">
                                                            {{!-- <option value="-">-</option> --}}
                                                            {{#each __data_pop_status}}
                                                                <option value={{pop_guid}}>{{pop_desc}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">&nbsp;</div>
                                                <div class="form-group">
                                                    <div class="col-md-12 mb-3">
                                                        <label for="co_notes">Remark</label>
                                                        <textarea type="text" class="form-control rounded-0" name="co_notes" autocomplete="off" rows="3"></textarea>
                                                    </div>
                                                    <input type="date" class="form-control datepicker" name="stock_trans_date" required>
                                                </div>
                                                <div class="form-group row invisible" style="position: absolute;">
                                                    <div class="col-md-4 mb-3 invisible">
                                                        <label>Id</label>
                                                        <input type="text" class="form-control" name="co_guid" value="{{co_guid}}" readonly>
                                                        <input type="text" class="form-control" name="act" value="{{act}}" readonly>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_order"><h4>ORDER</h4>
                                        <a href="#" id="btn_add" type="button" class="btn btn-outline btn-primary pull-left">
                                            <i class="glyphicon-plus"></i> Add New
                                        </a>
                                        <table id="dtTbl_Order" class="table table-striped display nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Id</th>
                                                    <th>Desc</th>
                                                    <th>Finish</th>
                                                    <th>Price</th>
                                                    <th>Qty</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tab_po"><h4>PO</h4>
                                        <a href="#" id="btn_add" type="button" class="btn btn-outline btn-primary pull-left">
                                            <i class="glyphicon-plus"></i> Add New
                                        </a>
                                        <table id="dtTbl_Order" class="table table-striped display nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Id</th>
                                                    <th>Date</th>
                                                    <th>PO</th>
                                                    <th>Category</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tab_invoicing">
                                        <h4>INVOICE</h4>
                                        <a href="#" type="button" class="btn btn-outline btn-primary pull-left">
                                            <i class="glyphicon-plus"></i> Add New
                                        </a>
                                        <table id="dtTbl_Inv" class="table table-striped display nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Id</th>
                                                    <th>INV# Date</th>
                                                    <th>Info</th>
                                                    <th>Amt</th>
                                                    <th>Paid Amt</th>
                                                    <th>Due Date</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- end tab --}}
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                </div>
                
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        {{!-- popup modal form --}}
        <!-- Modal -->
        {{> pop}}
        {{!-- spinner --}}
        <div id="spinner-modal" class="modal fade spinner-bg modal-popup" tabindex="-1" role="dialog" data-backdrop="false">
            <div role="document">
                <span class="fa fa-spinner fa-pulse fa-3x fa-fw loader-custom"></span>
                {{!-- <div class="row">
                    <div class="col-md-3">
                        <div class="loader" id="loader-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
               </div> --}}
            </div>
        </div>
    </div>
    
    <!-- /#wrapper -->
{{> scripts}}

</body>

</html>
