<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> css}}
<style>


</style>
<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">FINISH PRODUCT DETAILS & COMPONENTS</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="row">&nbsp;</div>
                    <div class="container">	
                        <ul  class="nav nav-pills">
                            <li class="active">
                                <a  href="#details" data-toggle="tab">
                                DETAILS <i class="fa fa-long-arrow-right"></i></a>
                            </li>
                            <li class="">
                                <a href="#components" data-toggle="tab">
                                    COMPONENTS <i class="fa fa-long-arrow-right"></i></a>
                            </li>
                        </ul>
                        <div class="row">&nbsp;</div>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="details" style="position: absolute">
                                {{!-- //form --}}
                                <form id="form_" >
                                    <div class="col-sm pull-right cancel">
                                        <a href="/finish-product"  type="button" class="btn btn-outline btn-primary" id="btn_cancel">
                                            <i class="fa fa-times"></i> Cancel
                                        </a>
                                    </div>
                                    <div class="col-sm pull-right">&nbsp;</div>
                                    <div class="col-sm pull-right">
                                        <button type="submit" class="btn btn-outline btn-primary" id="btn_save"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9 mb-3">
                                            <label for="product_family_desc">Finish Product Desc</label>
                                            <input type="text" class="form-control" name="fp_desc" placeholder="Finish Product Desc" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 mb-3">
                                            <label for="product_family">Product Family</label>
                                            <select class="form-control selectpicker" id="sp_product_family" name="product_family" data-live-search="true">
                                                <option value="-">-</option>
                                                {{#each __data_pop_product_family}}
                                                    <option value={{id}}>{{pop_desc}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="state">H</label>
                                            <input type="text" class="form-control" name="h" placeholder="H" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 mb-3">
                                            <label for="zipcode">Created Date</label>
                                            <input type="text" class="form-control" name="created_date" placeholder="Created Date" value="" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="txt_email">Receipt Last Updated</label>
                                            <input type="text" class="form-control" name="receipt_last_updated" placeholder="Receipt Last Updated" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 mb-3">
                                            <label for="origin">Origin</label>
                                            <select class="form-control selectpicker" id="sp_origin" name="origin" data-live-search="true">
                                                <option value="-">-</option>
                                                {{#each __data_pop_origin}}
                                                    <option value={{id}}>{{pop_desc}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="creator">Creator</label>
                                            <select class="form-control selectpicker" id="sp_creator" name="creator" data-live-search="true">
                                                <option value="-">-</option>
                                                {{#each __data_pop_creator}}
                                                    <option value={{id}}>{{pop_desc}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 mb-3 form-check form-check-inline">
                                            <div class="row">&nbsp;</div>
                                            <input class="form-check-input" type="checkbox" value="" id="ck_validated" name="validated">
                                            <label class="form-check-label" for="ck_validated">
                                                Validated
                                            </label>
                                            <input class="form-check-input" type="checkbox" value="" id="ck_out" name="out">
                                            <label class="form-check-label" for="ck_out">
                                                Out
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ck_active" name="active">
                                            <label class="form-check-label" for="ck_active">
                                                Active
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row invisible">
                                        <div class="col-md-4 mb-3">
                                            <label>Created by</label>
                                            <input type="text" class="form-control" name="created_by" readonly>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Created Date</label>
                                            <input type="text" class="form-control" name="created_date" readonly>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Updating by</label>
                                            <input type="text" class="form-control" name="updated_by" readonly>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Updating Date</label>
                                            <input type="text" class="form-control" name="updated_date" readonly>
                                        </div>
                                        <div class="col-md-4 mb-3 invisible">
                                            <label>Id</label>
                                            <input type="text" class="form-control" id="id" name="id" readonly>
                                        </div>
                                    </div>
                                </form>
                                {{!-- //end form --}}
                            </div>
                            <div class="tab-pane" id="components">
                                <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
                            </div>
                        </div>
                    </div>
                
                {{!-- / --}}
                </div>
                    
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        {{!-- popup modal--}}
        <div class="modal fade" id="pop-modal-form" tabindex="-1" role="dialog" aria-labelledby="pop-modal-form" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">POPULATION TABLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form__">
                        <div class="form-group row">
                            <div class="col-md-12 mb-3">
                                <label id="lbl_pf_desc">Product Family Desc</label>
                                <input type="text" class="form-control" name="pop_desc" placeholder="Type New Desc then click Save" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm pull-right">
                                <button type="submit" class="btn btn-outline btn-primary" id="btn_save_activity"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="ck_active_pop" name="pop_active" checked="true">
                                <label class="form-check-label" for="ck_active_pop">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group row invisible" style="position: absolute;">
                            <div class="col-md-4 mb-3">
                                <label>Updating by</label>
                                <input type="text" class="form-control" name="updated_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating Date</label>
                                <input type="text" class="form-control" name="updated_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Id</label>
                                <input type="text" class="form-control" id="pop_id" name="pop_id" readonly>
                            </div>
                        </div>
                        <hr/>
                    </form>
                    <div class="form-group row">
                        <table id="dtTbl_pop" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Id</th>
                                    <th id="th_pop_desc">Product Family Desc</th>
                                    <th>Active</th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" clss="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                    <a href="#"  type="button" class="btn btn-outline btn-primary" id="btn_close" data-dismiss="modal">
                        <i class="fa fa-times"></i> Close
                    </a>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div>
                </div>
            </div>
        </div>
        {{!-- spinner --}}
        <div class="modal fade spinner-bg modal-popup" tabindex="-1" role="dialog" data-backdrop="false">
            <div role="document">
                <span class="fa fa-spinner fa-pulse fa-3x fa-fw loader-custom"></span>
                {{!-- <div class="row">
                    <div class="col-md-3">
                        <div class="loader" id="loader-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
               </div> --}}
            </div>
        </div>
    </div>
    
    <!-- /#wrapper -->
{{> scripts}}

</body>

</html>
