<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> css}}

<style>
    .col-md-6{
        width: 0%;
    }
    #dtTbl_pop{
        width: 100% !important;
    }
</style>
<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">RAW MATERIAL DETAILS</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <form id="form_">
                        <div class="col-sm pull-right cancel">
                            <a href="/raw-materials"  type="button" class="btn btn-outline btn-primary" id="btn_cancel">
                                <i class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                        <div class="col-sm pull-right">&nbsp;</div>
                        <div class="col-sm pull-right">
                            <button type="submit" class="btn btn-outline btn-primary" id="btn_save"><i class="fa fa-save"></i> Save</button>
                        </div>
                        <div class="form-group row">
                            {{!-- <div class="col-md-4 mb-3">
                                <label for="rm_code">RM Code</label>
                                <select class="form-control selectpicker" id="sp_rm_code" name="rm_code" data-live-search="true">
                                    <option value="-" desc="-">-</option>
                                    {{#each __data_rm}}
                                        <option value="{{id}}" desc="{{rm_desc}}">{{rm_code}}</option>
                                    {{/each}}
                                </select>
                            </div> --}}
                            <div class="col-md-4 mb-3">
                                <label for="rm_desc">RM Code</label>
                                <input type="text" class="form-control" name="rm_code" placeholder="RM Code" value="" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="rm_desc">RM Desc</label>
                                <input type="text" class="form-control" name="rm_desc" placeholder="RM Desc" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label for="product_family">Product Family</label>
                                <select class="form-control selectpicker" id="sp_product_family" name="product_family" data-live-search="true">
                                    <option value="-">-</option>
                                    {{#each __data_pop_product_family}}
                                        <option value={{pop_guid}}>{{pop_desc}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="cost">Cost</label>
                                <input type="text" class="form-control number-seperator numeric" id="cost" name="cost" placeholder="Cost" value="" required autocomplete="off">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="unit">Unit</label>
                                <select class="form-control selectpicker" id="sp_unit" name="unit" data-live-search="true">
                                    <option value="-">-</option>
                                    {{#each __data_pop_unit}}
                                        <option value={{pop_guid}}>{{pop_desc}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3" style="text-align: center;">
                                <label for="box_size_w">Box Size</label>
                                <div class="form-group row">
                                    <div class="col-md-4 mb-3">
                                        <label for="box_size_l" class="col-sm-1 col-form-label col-form-label-sm" style="padding-left: 0px;">L</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" name="box_size_l" placeholder="L" style="width: 71px;" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="box_size_w" class="col-sm-1 col-form-label col-form-label-sm" style="padding-left: 0px;">W</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" name="box_size_w" placeholder="W" style="width: 71px;" required>
                                        </div>    
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="box_size_h" class="col-sm-1 col-form-label col-form-label-sm" style="padding-left: 0px;">H</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" name="box_size_h" placeholder="H" style="width: 71px;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="kayu">Kayu</label>
                                <select class="form-control selectpicker" id="sp_kayu" name="kayu" data-live-search="true">
                                    <option value="-">-</option>
                                    {{#each __data_pop_kayu}}
                                        <option value={{pop_guid}}>{{pop_desc}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- <div class="col-md-4 mb-3">
                                <label for="creator">Creator</label>
                                <select class="form-control selectpicker" id="sp_creator" name="creator" data-live-search="true">
                                    <option value="-">-</option>
                                    {{#each __data_pop_creator}}
                                        <option value={{id}}>{{pop_desc}}</option>
                                    {{/each}}
                                </select>
                            </div> --}}
                        </div>
                        {{!-- <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label for="cost_last_updated">Cost Last Updated</label>
                                <input type="text" class="form-control" name="cost_last_updated" placeholder="Cost Last Updated" value="" readonly>
                            </div>
                            <div class="col-md-4 mb-3 form-check form-check-inline">
                                <div class="row">&nbsp;</div>
                                <input class="form-check-input" type="checkbox" value="" id="ck_validated" name="validated">
                                <label class="form-check-label" for="ck_validated">
                                    Validated
                                </label>
                                <input class="form-check-input" type="checkbox" value="" id="ck_out" name="out">
                                <label class="form-check-label" for="ck_out">
                                    Out
                                </label>
                            </div>
                        </div> --}}
                        <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="ck_active" name="active">
                                <label class="form-check-label" for="ck_active">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group row invisible">
                            <div class="col-md-4 mb-3">
                                <label>Id</label>
                                <input type="text" class="form-control" id="rm_guid" name="rm_guid" value="{{_rm_guid}}" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        {{!-- popup modal form --}}
        <!-- Modal -->
        {{> pop}}
        
        {{!-- spinner --}}
        <div id="spinner-modal" class="modal fade spinner-bg modal-popup" tabindex="-1" role="dialog" data-backdrop="false">
            <div role="document">
                <span class="fa fa-spinner fa-pulse fa-3x fa-fw loader-custom"></span>
                {{!-- <div class="row">
                    <div class="col-md-3">
                        <div class="loader" id="loader-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
               </div> --}}
            </div>
        </div>
    </div>
    
    <!-- /#wrapper -->
{{> scripts}}

</body>

</html>
